<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Cyber Safety Regression Test Suite" parallel="tests" thread-count="1" preserve-order="true">
<!--     parallel= ["methods" | "tests" | "classes" | "instances"] -->
    <test name="Android Regression Test">
        <parameter name="PlatformName" value="Android"/>
        <!-- PlatformName: [Android | iOS] -->
        <classes>
            <class name="runners.TestRunnerFE"/>
        </classes>
    </test>
<!--    <test name="iOS Regression Test">-->
<!--        <parameter name="PlatformName" value="iOS"/>-->
<!--        &lt;!&ndash; PlatformName: [Android | iOS] &ndash;&gt;-->
<!--        <classes>-->
<!--            <class name="runners.TestRunnerFE"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="API Regression Test">-->
<!--        <classes>-->
<!--            <class name="runners.TestRunnerAPI"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>